<app-navbar></app-navbar>
<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="marcadorSel">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Titulo</label>
          <input [(ngModel)]="marcadorSel.titulo" type="text" name="titulo" class="form-control">
        </div>
        <div clas="form-group">
          <label>Descripcion</label>
          <textarea [(ngModel)]="marcadorSel.desc" type="text" name="desc" class="form-control" rows="5"> </textarea>
        </div>
        <br/>
        <div clas="form-group">
          <label>Se puede mover?</label>
          <select [(ngModel)]="marcadorSel.draggable" name="draggable" class="form-control">
            <option [ngValue]="true">Si</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
        <br/>
        <button (click)="_ms.guardarMarcadores()" type="button" class="btn btn-outline-primary btn-block">
          Guardar Cambios
        </button>
      </div>
    </div>
    <div class="col-md-8">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="clickMapa( $event )">
              <agm-marker *ngFor="let marcador of _ms.marcadores; let i = index"
                          [latitude]="marcador.lat"
                          [longitude]="marcador.lng"
                          [markerDraggable]="marcador.draggable"
                          (markerClick)="clickMarcador( marcador, i )"
                          (dragEnd)="dragEndMarcador( marcador, $event )">
                <agm-info-window>
                  <strong>{{ marcador.titulo }}</strong>
                  <p *ngIf="marcador.desc"> {{ marcador.desc}}</p>
                  <p><a (click)="_ms.borrarMarcador(i);marcadorSel=null;" class="text-danger puntero">Borrar marcador</a></p>
                </agm-info-window>
              </agm-marker>
            </agm-map>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
